{% extends 'base.html' %}

{% block content %}

<div class="narrow_container">
    <div class="main_title">Change Password</div>
    <div>Stanford CS348K</div>
   
    <form action="{% url 'students:do_change_password' %}" method="post">
      {% csrf_token %}
        <p>
            <div class="form_label">New Password:</div>
            <div><input type="password" class="form_input_box" name="password1" ></div>
        </p>

        <p>
            <div class="form_label">Confirm New Password:</div>
            <div><input type="password" class="form_input_box" name="password2" ></div>
        </p>

        <div class="form_submit_button"><button type="submit">[ Change Password ]</button></div>
    </form>
</div>
{% endblock %}
