{% extends 'base.html' %}

{% block content %}
<div class="narrow_container">

{% if updated %}
<p>
Profile successfully updated!
</p>
{% endif %}

<h2>User Information for {{user.username}}</h2>

<p>You have made {{num_comments}} comments.
<!--  (<a href="<?php echo site_url('user/' . $logged_in_user->username) ?>">seem them all here</a>) -->
</p>
<p>You have made {{num_private_comments}} private comments.</p>

<form enctype="multipart/form-data" action="{% url 'students:do_edit' %}" method="post">
{% csrf_token %}

<div class="form_label form_top_dashed">
<div style="float: left; margin-right: 25px;">
<div class="form_label">First Name</div>
{{ form.firstname.errors }}
<div>{{form.firstname}}</div>
</div>

<div style="float:left;">
<div class="form_label">Last Name</div>
{{ form.lastname.errors }}
<div>{{form.lastname}}</div>
</div>
</div>

<div style="clear:both;"></div>
<p>
     <div class="form_label">Preferred Email</div>
     {{ form.email.errors }}
     <div>{{form.email}}</div>
</p>

<p>
     <div class="form_label">SUNet ID</div>
     {{ form.suid.errors }}
     <div>{{form.suid}}</div>
</p>

<p>
<p class="form_label form_top_dashed">And... please tell us a bit about yourself:</p>

<div style="float: left; padding-right: 25px;">
<div class="form_label">Major</div>
<div class="form_help_text">(e.g., CS, EE, etc)</div>
{{ form.major.errors }}
<div>{{form.major}}</div>
</div>

<div class="float: left;">
<div class="form_label">Year</div>
<div class="form_help_text">(e.g., junior, senior, MS, PhD)</div>
{{ form.year.errors }}
<div>{{form.year}}</div>
</div>
</p>



<div style="clear:both;"></div>

<p>
<div class="form_label">Profile Picture</div>
<div class="form_help_text">Profile pictures are just for fun.  You need not upload a photo of yourself, or even anything at all. If you don't upload a profile photo, you'll temporarily be assigned a random picture of a cute robot. You can always change it later.</div>
     </p>

<p>
<img src="{{user.student.photo.url}}" align="middle" class="profile_pic_preview" />

<div>{{form.photo.errors}}</div>
<div>{{form.photo}}</div>

<div class="overview_main_item form_submit_button"><button type="submit">[ Save ]</button></div>
</p>

</form>

</div>
{% endblock %}
