{% extends 'base.html' %}

{% block content %}
<div class="narrow_container">

{% if form and form.errors %}
  <div class="form_errors">
    {% for field in form %}
        {% for error in field.errors %}
            <div class="alert alert-danger">
                <strong>{{ error|escape }}</strong>
            </div>
        {% endfor %}
    {% endfor %}
    {% for error in form.non_field_errors %}
        <div class="alert alert-danger">
            <strong>{{ error|escape }}</strong>
        </div>
    {% endfor %}
  </div>
{% endif %}

<div class="main_title">CS248: Interactive Computer Graphics</div>

<div style="padding-top: 20px; padding-bottom: 10px;">

{% if prev_url %}
    <p class="form_label">You must be logged in to access this page.</p>
{% endif %}
    <p>No account? Then <a href="{% url 'students:create' %}">sign up</a>!</p>

</div>

<form action="{% url 'students:do_login' %}" method="post">
{% csrf_token %}
    <p>
        <div class="form_label">Username:</div>
        {{ form.username.errors }}
        <div>{{ form.username }}</div>
    </p>

    <p>
        <div class="form_label">Password:</div>
        {{ form.password.errors }}
        <div>{{ form.password }}</div>
    </p>

    <!-- <p><a href="{% url 'students:reset_password' %}">Forgot Password?</a></p> -->
    <p>Forgot your password? Please email the course staff to reset it. (There is no automatic reset password support.)</p>

    <div class="form_submit_button"><button type="submit">[ Login ]</div></button></div>

</form>
</div>

{% endblock %}
