{% extends 'base.html' %}

{% block content %}
<div class="narrow_container">
    <div class="main_title">Reset Password</div>
    <div>Stanford CS348B</div>

    <form action="{% url 'students:do_reset_password' %}" method="post">
      {% csrf_token %}
        <p>
            <div class="form_label">Username:</div>
            <div><input type="input" class="form_input_box" name="username" ></div>
        </p>

        <div class="form_submit_button"><button type="submit">[ Request Password Reset ]</button></div>
    </form>
</div>
{% endblock %}
