{% extends 'base.html' %}

{% block content %}
<div class="home_container">

<div style="font-size: 12pt; padding: 10px 0px 0px 0px;" class="home_title">Stanford CS248, Winter 2022</div>
<div style="padding-top: 0px; padding-bottom: 5px;" class="home_title">INTERACTIVE <br/>COMPUTER GRAPHICS</div>


<p> This page contains lecture slides and recommended readings for the Winter 2022 offering of CS248.</p>

{% for lecture in lectures %}

<div class="book_lecture">
     <div class="book_lecture_title" style="padding-bottom: 0px">
     <a href="{% url 'lectures:lecture' lecture.short_name %}">Lecture {{lecture.number}}: {{lecture.title}}</a></div>
     <div class="colored_text book_lecture_subtitle">({{lecture.subtitle}})</div>
     

     {% if lecture.readings %}
     <div class="book_lecture_indent">
       <div>Further Reading:</div>
       {{lecture.readings | safe}}
     </div>
     {% endif %}

</div>

{% endfor %}

</div>
{% endblock %}
