{% extends 'base.html' %}

{% load comments %}

{% block content %}
<div class="lecture_title">
<a href="{% url 'lectures:lecture' lecture.short_name %}">{{lecture.title}}</a>
</div>

<!-- this is the big image of the slide -->

{% if lecture_slide.slide_number < lecture.num_slides %}
<a href="{% url 'lectures:lecture_slide' lecture.short_name lecture_slide.slide_number|add:1 %}">
  <img src="{{lecture_slide.image_url}}" width="{{lecture_slide.image_width}}" height="{{lecture_slide.image_height}}" class="lecture_slide_img">
</a>
{% else %}
<img src="{{lecture_slide.image_url}}" width="{{lecture_slide.image_width}}" height="{{lecture_slide.image_height}}" class="lecture_slide_img">
{% endif %}

<div style="width: {{lecture_slide.image_width}}px; border-bottom: #c0c0c0 3px solid; padding-top: 6px; padding-bottom: 10px; margin-bottom: 10px;">

<!-- begin slide navigation elements -->


<div style="float: left;">
{% if lecture_slide.slide_number > 1 %}
    <a id="previous-slide" href="{% url 'lectures:lecture_slide' lecture.short_name lecture_slide.slide_number|add:-1 %}">Previous</a>
{% endif %}
|
{% if lecture_slide.slide_number < lecture.num_slides %}
    <a id="next-slide" href="{% url 'lectures:lecture_slide' lecture.short_name lecture_slide.slide_number|add:1 %}">Next</a>
{% endif %}

--- Slide {{lecture_slide.slide_number}} of {{lecture.num_slides}}
</div>

<script>
$(document).keydown(function (e) {
    // Let textareas handle their own keypresses.
    if ( $("*:focus").is("textarea, input") ) return;

{% if lecture_slide.slide_number > 1 %}
    if (e.keyCode == 37) { // Left
        document.location = "{% url 'lectures:lecture_slide' lecture.short_name lecture_slide.slide_number|add:-1 %}";
        return false;
    }
{% endif %}
{% if lecture_slide.slide_number < lecture.num_slides %}
    if (e.keyCode == 39) { // Right
        document.location = "{% url 'lectures:lecture_slide' lecture.short_name lecture_slide.slide_number|add:1 %}";
        return false;
    }
{% endif %}
});
</script>

<div style="text-align: right;">Back to <a href="{% url 'lectures:lecture' lecture.short_name %}">Lecture Thumbnails</a></div>

</div>


<!-- end slide navigation elements  -->

<div class="slide_comments_container">
  {% get_comment_list for lecture_slide as comment_list %}
  {% for comment in comment_list %}
  <div class="comment">
    <div class="about">
      <div>
        <img src="{{comment.user.student.photo.url}}">
      </div>
      <div>
        <span class="user">{{comment.user.username}}</span>
        <time class="timeago" datetime="{{comment.submit_date}}"></time>
      </div>
    </div>
    <div class="comment-data">
      {{comment.comment | linebreaks}}
    </div>
  </div>
  {% endfor %}

  {% if user.is_authenticated %}
    {% get_comment_form for lecture_slide as form %}
    <form action="{% comment_form_target %}" method="POST">
    {% csrf_token %}
    {{ form.comment }}
    {{ form.honeypot }}
    {{ form.content_type }}
    {{ form.object_pk }}
    {{ form.timestamp }}
    {{ form.security_hash }}
    <input type="hidden" name="next" value="{% url 'lectures:lecture_slide' lecture.short_name lecture_slide.slide_number %}" />
    <input type="submit" value="Add comment" id="id_submit" />
    </form>
{% else %}
    <p>Please <a href="{% url 'students:login' %}">log in</a> to leave a comment.</p>
{% endif %}
</div>
{% endblock %}


