{% extends 'base.html' %}

{% load comments %}
{% load message_tags %}

{% block content %}
<div class="lecture_title">
<a href="{% url 'lectures:lecture' lecture.short_name %}">{{lecture.title}}</a>
</div>

<!-- this is the big image of the slide -->

{% if lecture_slide.slide_number < lecture.num_slides %}
<!-- Preload html and image for next page to speed up slide browsing -->
<link rel="prefetch" href="{% url 'lectures:lecture_slide' lecture.short_name lecture_slide.slide_number|add:1 %}">
<link rel="prefetch" href="{{preload_image_url}}">
<a href="{% url 'lectures:lecture_slide' lecture.short_name lecture_slide.slide_number|add:1 %}">
  <img src="{{MEDIA_URL}}{{lecture_slide.image_url}}"
       width="{{slide_image_width}}"
       height="{{slide_image_height}}"
       class="lecture_slide_img">
</a>
{% else %}
<img src="{{MEDIA_URL}}{{lecture_slide.image_url}}"
     width="{{slide_image_width}}"
     height="{{slide_image_height}}"
     class="lecture_slide_img">
{% endif %}

<div style="width: {{slide_image_width}}px; border-bottom: #c0c0c0 3px solid; padding-top: 6px; padding-bottom: 10px; margin-bottom: 10px;">

<!-- begin slide navigation elements -->


<div style="float: left;">
{% if lecture_slide.slide_number > 1 %}
    <a id="previous-slide" href="{% url 'lectures:lecture_slide' lecture.short_name lecture_slide.slide_number|add:-1 %}">Previous</a>
{% endif %}
|
{% if lecture_slide.slide_number < lecture.num_slides %}
    <a id="next-slide" href="{% url 'lectures:lecture_slide' lecture.short_name lecture_slide.slide_number|add:1 %}">Next</a>
{% endif %}

--- Slide {{lecture_slide.slide_number}} of {{lecture.num_slides}}
</div>

<script>
$(document).keydown(function (e) {
    // Let textareas handle their own keypresses.
    if ( $("*:focus").is("textarea, input") ) return;

{% if lecture_slide.slide_number > 1 %}
    if (e.keyCode == 37) { // Left
        document.location = "{% url 'lectures:lecture_slide' lecture.short_name lecture_slide.slide_number|add:-1 %}";
        return false;
    }
{% endif %}
{% if lecture_slide.slide_number < lecture.num_slides %}
    if (e.keyCode == 39) { // Right
        document.location = "{% url 'lectures:lecture_slide' lecture.short_name lecture_slide.slide_number|add:1 %}";
        return false;
    }
{% endif %}
});
</script>

<div style="text-align: right;">Back to <a href="{% url 'lectures:lecture' lecture.short_name %}">Lecture Thumbnails</a></div>

</div>


<!-- end slide navigation elements  -->

{% if lecture.comments_enabled %}
{% if user.is_authenticated %}
<div class="slide_comments_container">
  {% get_comment_list for lecture_slide as comment_list %}
  {% for comment in comment_list %}
  <div class="comment">
    <div class="about">
      <div>
        <img src="{{comment.user.student.photo.url}}">
      </div>
      <div>
        <span class="user">{{comment.user.username}}</span>
      </div>
      <div>
        <time class="timeago" datetime="{{comment.submit_date}}">
          {% if comment.submit_date|days_ago:7%}
          {{comment.submit_date | time:"M, D"}}
          {% else %}
          {{comment.submit_date | timesince}} ago
          {% endif %}
        </time>
      </div>
    </div>
    <div class="comment-data">
      {{comment.comment | markdownify | safe}}
    </div>
  </div>
  {% endfor %}

    {% get_comment_form for lecture_slide as form %}
    <form action="{% comment_form_target %}" method="POST" class="comment-form">
    {% csrf_token %}
      <div class="add-comment-area">
        <textarea name="comment" cols="40" rows="10" maxlength="3000" required="" id="id_comment" placeholder="Add a comment"></textarea>
      </div>
    {{ form.honeypot }}
    {{ form.content_type }}
    {{ form.object_pk }}
    {{ form.timestamp }}
    {{ form.security_hash }}
    <input type="hidden" name="next" value="{% url 'lectures:lecture_slide' lecture.short_name lecture_slide.slide_number %}" />
    <div style="overflow: auto;">
        <div class="submit_button_container">
          <input type="submit" name="mysubmit" id="id_submit" value="Submit Comment!" class="submit_button">
        </div>
        <div class="subscription_container">
          <span class="text_subscribed">You are currently subscribed to this thread!</span>
          <!--
          <span class="text_unsubscribed">You are not currently subscribed to this thread.</span>
          <button class="subscribe_button" type="button">
            <span class="text_subscribed">Unsubscribe</span>
            <span class="text_unsubscribed">Subscribe</span>
          </button>
          -->
        </div>
        <div style="clear: both;"></div>
    </div>
    </form>
{% else %}
  <p>Please <a href="{% url 'students:login' %}">log in</a> to leave a comment.</p>
{% endif %}
</div>
{% endif %}

{% endblock %}
