{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="home_container">

<div style="font-size: 12pt; padding: 10px 0px 0px 0px;" class="home_title">Stanford CS248A, Winter 2025</div>
  <div style="padding-top: 0px; padding-bottom: 5px;" class="home_title">
    <div style="font-size: 44pt">Computer Graphics:</div>
    <div style="font-size: 24pt">Rendering, Geometry, and Image Manipulation</div>
  </div>
     <div>Tues/Thurs 1:30-2:50pm</div>
     <div>Location: Gates B1</div>
     <div style="padding-bottom: 20px;">Instructor:
     <a href="http://graphics.stanford.edu/~kayvonf">Kayvon Fatahalian</a>
     </div>

<div class="overview_main_item overview_ruled_element">Course Description</div>

<p style="padding-bottom: .15em">
This course provides a comprehensive introduction to computer
graphics, focusing on fundamental concepts and techniques, as well as
their cross-cutting relationship to multiple problem domains in
computer graphics (such as rendering, geometry, image processing, and
modern AI-based graphics). Topics include: 2D and 3D drawing,
sampling, interpolation, rasterization, image compositing, the GPU
graphics pipeline (and parallel rendering), geometric transformations,
curves and surfaces, geometric data structures, subdivision, meshing,
spatial hierarchies, ray tracing, global illumination, image
processing, and image compression.
</p>

<p class="bold_text colored_text">Lectures will be recorded for
offline viewing on Canvas. We will have frequent discussions and
student breakouts during live lecture.  Therefore, while attendance at
live lecture will not be checked or graded, we ask you to make an
effort to attend live lecture as much as possible.
</p>

<div class="overview_main_item overview_ruled_element">Instructors and CAs</div>

<div class="indented_block">

<div style="width: 360px; float: left;">
<img src="{% static 'images/staff_photos/kayvonf.jpg' %}" width="100" height="100" style="float: left; margin-right: 20px; border: #808080 1px solid;">
<div><a href="http://graphics.stanford.edu/~kayvonf">Kayvon Fatahalian</a></div>
</div>

<div class="overview_minor_item" style="clear: both; padding-top: 2em; padding-bottom: 2em;">Your fun and helpful CAs:</div>


<div style="width: 360px; float: left;">
<img src="{% static 'images/staff_photos/jitong.jpg' %}" width="100" height="100" style="float: left; margin-right: 20px; border: #808080 1px solid;">
<div class="ta-name">Jitong Zhou</div>
<div style="clear: both;">&nbsp;</div>
</div>

<div style="width: 360px; float: left;">
<img src="{% static 'images/staff_photos/haoyi.jpg' %}" width="100" height="100" style="float: left; margin-right: 20px; border: #808080 1px solid;">
<div class="ta-name">Haoyi Duan</div>
</div>

<!--
<div class="overview_minor_item" style="clear: both;">&nbsp;</div>

<div style="width: 360px; float: left;">
<img src="{% static 'images/staff_photos/mia_cropped.jpg' %}" width="100" height="100" style="float: left; margin-right: 20px; border: #808080 1px solid;">
<div class="ta-name">Mia Tang</div>
<div style="clear: both;">&nbsp;</div>
</div>

<div class="overview_minor_item" style="clear: both;">&nbsp;</div>
-->

<div style="clear: both;">&nbsp;</div>

</div> <!-- indented -->



<div class="overview_main_item overview_ruled_element">Office Hours Calendar</div>

<iframe src="https://calendar.google.com/calendar/embed?height=600&wkst=1&ctz=America%2FLos_Angeles&showPrint=0&mode=WEEK&showCalendars=0&title=CS248A%20Calendar&src=Y3MyNDhhLndpbjI1QGdtYWlsLmNvbQ&color=%23039BE5" style="border:solid 1px #777" width="800" height="600" frameborder="0" scrolling="no"></iframe>

<div class="overview_main_item overview_ruled_element">Prerequisites</div>

<p><span class="bold_text">CS248A DOES NOT depend upon CS148 as a prerequisuite. We do not assume you have taken CS148.</span>
  However, we expect you to be a proficient C/C++ programmer to complete the required programming assignments. (We expect you've taken at least CS107).  We also assume basic understanding of linear algebra (at least MATH 51) and 3D calculus.</p>

<div class="overview_main_item overview_ruled_element">Textbook</div>

<p>There is no required textbook for CS248A, though a variety of books may provide good supplementary material:</p>

<p>
<div>Pete Shirley and Steve Marschner with Michael Ashikhmin, Michael Gleicher, Naty Hoffman, Garrett Johnson, Tamara Munzner, Erik Reinhard, Kelvin Sung, William B. Thompson, Peter Willemsen, and Bryan Wyvill</div>
<div><span class="bold_text">Fundamentals of Computer Graphics. A K Peters, 2009</div>
<div><a href="https://www.amazon.com/Fundamentals-Computer-Graphics-Fourth-Marschner/dp/1482229390/ref=dp_ob_title_bk">[ On Amazon ]</a></div>
</p>

<p>
<div>John F. Hughes, Andries van Dam, Morgan McGuire, David F. Sklar, James D. Foley, Steven K. Feiner, and Kurt Akeley</div>
<div><span class="bold_text">Computer Graphics: Principles and Practice</span></div>
<div><a href="https://www.amazon.com/Computer-Graphics-Principles-Practice-3rd/dp/0321399528/ref=sr_1_2?s=books&ie=UTF8&qid=1440872554&\
sr=1-2&keywords=foundations+of+3d+computer+graphics">[ On Amazon ]</a></div>
</p>

<div class="overview_main_item overview_ruled_element">Announcements via Ed Discussion</div>

<p>All class announcements will be made via our <a href="https://edstem.org/us/courses/70707/discussion" target="_blank">Ed discussion</a>. Everyone enrolled in the course via Canvas should be able to access this site.

<div class="overview_main_item overview_ruled_element">Grading (What You Will Do!)</div>

<p>
All students will be expected to perform:
<ul>
  <li>Four programming assignments: <span class="bold_text colored_text">4 x 15&#37; = 60&#37;</span></li>
  <li>Five written exercises: <span class="bold_text colored_text">5 x 5&#37; = 25&#37;</span></li>
  <li>One exam: <span class="bold_text colored_text">15&#37;</span> (scheduled for 6pm on Wed March 5th)</li>
</ul>
</p>

<p class="bold_text">
Programming assignments can be completed in teams of up to two students. Students can pick their own partners, work on their own, or have the staff recommend a partner. Written assignments will be performed in teams of three, with new randomly assigned partners each assignment.
</p>

<p>
  <span class="italic_text"Late hand-in policy.</span> Each student is allotted a total of eight late-day points for the semester. Late-day points are for use on <span class="bold_text">programming assignments only</span>. Late-day points work as follows:

<ul>
<li>A one-person team can extend a programming assignment deadline by one day using one point.</li>
<li>A two-person team can extend a programming assignment deadline by one day using two points.
  (e.g., one point from each student)</li>
<li>If a team does not have remaining late day points, late hand-ins will incur a 10% penalty per day.</li>
<li>No assignments will be accepted more than three days after the deadline. This is true whether or not the student(s) have late-day points remaining.</li>
</ul>

</p>

<div class="overview_main_item overview_ruled_element">FAQ</div>

<a id="#faq"></a>

<p><span class="bold_text">Do I need a partner for programming and written assignments?</span></p>

<p>CS248A students will complete both written assignments and
programming assignments during the quarter. Written assignments will
be done in groups of three, with partners randomly assigned to you by
the course staff. (We will assign you unique random partners on each
  assignment to help you get to know your fellow classmates.)</p>

<p>
Programming assignments can be done in tems of up to two
students. However, doing programming assignments with a partner is
optional. Each year a number of students decide to do all the
programming assignments on their own because they think it will help
them learn the material better.  Note that all teams, regardless of
whether they are one or two person teams, are graded the same.
</p>

<p><span class="bold_text">I don't have a programming assignment
partner but definitely want one, what should I do?</span></p>

<p>We understand that it can be hard to find partners in CS
  classes. We want everyone that wants to work with a partner to have
  the opportunity to do so. In the first week of class, the course
  staff will run a partner matching service that will ask students to
  fill out a survey and match students according to responses.</p>

<p>If you need to change partners or find a partner in the middle of
the quarter, just reach out to the staff and we'll do our best to help
you find someone. We are here to help!</p>

<p><span class="bold_text">Do I need to tell the staff that I am using
late days on a programming assignment?</span></p>

<p>No, just submit your assignment. The submission will be time
stamped and the staff will keep track of late days.</p>

<p><span class="bold_text">I got sick, had a busy week, had extra
curricular activities, had a family event I want to attend, etc.? Can
I get an extension?</span></p>

<p>You are going to have periods throughout the quarter where you
cannot put much time in CS248A. That's perfectly fine! Late days are
there to allow you to adjust your deadlines. Given that you have a
generous number of late days for the quarter, we expect you to manage
those days according to your needs. We intend to only give students
additional late days under exceptional circumstances (significant
long-running illnesses, important family concerns, etc.) or in
accordance with OAE designations.  If you believe exceptional
circumstances may be in play, we want to help! <span class="bold_text
colored_text">But please make the staff aware of your situation at
least 72 hours prior to the impacted deadline.</span>  We are going to
hold all students to the 72-advance notice rule and deny last-minute
requests, unless an unforeseeable exceptional event happened during this
last-minute period.</p>

<p><span class="bold_text">Office hours are busy and I'm having
trouble getting the help I need. What can I do?</span></p>

<p>Office hours aren't the only time you can get help from the staff.
Just reach out by posting on Ed or writing an email to the staff
asking for an appointment for a 1-on-1 conversation. We'll make time
  to help!</p>

<p><span class="bold_text">Will lectures be recorded?</span></p>

<p>Yes, lectures are recorded by CGOE and available for offline
viewing on Canvas. We try to make lectures participatory and have
in-class discussions, so we hope that you will make an effort to
attend lecture as much as possible and use the recorded lectures as
review and reference.</p>

<p><span class="bold_text">Can I audit the class?</span></p>

<p>Please email one of the CAs and we will be happy to add you to
Canvas as an observer.</p>


</div>
{% endblock %}
