{% extends 'base.html' %}

{% load static %}

{% block content %}
<div class="home_container">

<div style="font-size: 12pt; padding: 10px 0px 0px 0px;" class="home_title">Stanford CS149, Fall 2023</div>
<div style="padding-top: 0px; padding-bottom: 5px;" class="home_title">PARALLEL COMPUTING</div>
<div>Time: Tues/Thurs 10:30-11:50am</div>
  <div>Location: NVIDIA Auditorium</div>
     <div style="padding-bottom: 20px;">Instructors:
      <a href="http://graphics.stanford.edu/~kayvonf">Kayvon Fatahalian</a> and <a href="https://engineering.stanford.edu/people/kunle-olukotun">Kunle Olukotun</a>
     </div>

<div class="overview_main_item overview_ruled_element">Course Description</div>

<p style="padding-bottom: .15em">
From smart phones, to multi-core CPUs and GPUs, to the world's largest supercomputers and web sites, parallel processing is ubiquitous in modern computing. The goal of this course is to provide a deep understanding of the fundamental principles and engineering trade-offs involved in designing modern parallel computing systems as well as to teach parallel programming techniques necessary to effectively utilize these machines. Because writing good parallel programs requires an understanding of key machine performance characteristics, this course will cover both parallel hardware and software design.
</p>

<p><span class="bold_text">Lectures will be recorded for offline viewing via Canvas.</span>
We will have frequent discussions and student breakouts during live lecture.
</p>

<p class="bold_text">The course staff will hold both in person and virtual office hours.</p>

<div class="overview_main_item overview_ruled_element">Instructors and CAs</div>

<div class="indented_block">

<div style="width: 360px; float: left;">
<img src="{% static 'images/staff_photos/kayvonf.jpg' %}" width="100" height="100" style="float: left; margin-right: 20px; border: #808080 1px solid;">
<div><a href="http://graphics.stanford.edu/~kayvonf">Kayvon Fatahalian</a></div>
<div>[kayvonf at cs]</div>
<div style="clear: both;">&nbsp;</div>
</div>

<div style="width: 360px; float: left;">
  <img src="{% static 'images/staff_photos/kunle.jpg' %}" width="100" height="100" style="float: left; margin-right: 20px; border: #808080 1px solid;">
  <div><a href="https://engineering.stanford.edu/people/kunle-olukotun">Kunle Olukotun</a></div>
  <div>[kunle at cs] </div>
  <div style="clear: both;">&nbsp;</div>
</div>

</div>

<div class="overview_minor_item" style="clear: both; padding-top: 2em; padding-bottom: 2em;">Your fun and helpful CAs:</div>

<div class="indented_block">

<div style="width: 360px; float: left;">
  <img src="{% static 'images/staff_photos/james.jpg' %}" width="100" height="100" style="float: left; margin-right: 20px; border: #808080 1px solid;">
  <div class="ta-name">James Hong</div>
  <div style="clear: both;">&nbsp;</div>
</div>

<!---
<div style="width: 360px; float: left;">
  <img src="{% static 'images/staff_photos/bryan.jpg' %}" width="100" height="100" style="float: left; margin-right: 20px; border: #808080 1px solid;">
  <div class="ta-name">Bryan Gopal</div>
  <div style="clear: both;">&nbsp;</div>
</div>
-->
<div style="width: 360px; float: left;">
  <img src="{% static 'images/staff_photos/michael.jpg' %}" width="100" height="100" style="float: left; margin-right: 20px; border: #808080 1px solid;">
  <div class="ta-name">Michael Granado</div>
  <div style="clear: both;">&nbsp;</div>
</div>

<!-- new row -->
<div class="overview_minor_item" style="clear: both;">&nbsp;</div>

<div style="width: 360px; float: left;">
  <img src="{% static 'images/staff_photos/mingfei.jpg' %}" width="100" height="100" style="float: left; margin-right: 20px; border: #808080 1px solid;">
  <div class="ta-name">Mingfei Guo</div>
  <div style="clear: both;">&nbsp;</div>
</div>

<div style="width: 360px; float: left;">
  <img src="{% static 'images/staff_photos/jensen.jpg' %}" width="100" height="100" style="float: left; margin-right: 20px; border: #808080 1px solid;">
  <div class="ta-name">Jensen Hwa</div>
  <div style="clear: both;">&nbsp;</div>
</div>

<!-- new row -->
<div class="overview_minor_item" style="clear: both;">&nbsp;</div>

<div style="width: 360px; float: left;">
  <img src="{% static 'images/staff_photos/senyang.jpg' %}" width="100" height="100" style="float: left; margin-right: 20px; border: #808080 1px solid;">
  <div class="ta-name">Senyang Jiang</div>
  <div style="clear: both;">&nbsp;</div>
</div>

<div style="width: 360px; float: left;">
<img src="{% static 'images/staff_photos/neha.jpg' %}" width="100" height="100" style="float: left; margin-right: 20px; border: #808080 1px solid;">
<div class="ta-name">Neha Kunjal</div>
<div style="clear: both;">&nbsp;</div>
</div>

<!-- new row -->
<div class="overview_minor_item" style="clear: both;">&nbsp;</div>

<div style="width: 360px; float: left;">
  <img src="{% static 'images/staff_photos/yasmine.jpg' %}" width="100" height="100" style="float: left; margin-right: 20px; border: #808080 1px solid;">
  <div class="ta-name">Yasmine Mitchell</div>
  <div style="clear: both;">&nbsp;</div>
</div>

<div style="width: 360px; float: left;">
  <img src="{% static 'images/staff_photos/tom.jpg' %}" width="100" height="100" style="float: left; margin-right: 20px; border: #808080 1px solid;">
  <div class="ta-name">Tom Shen</div>
  <div style="clear: both;">&nbsp;</div>
</div>

<!-- new row -->
<div class="overview_minor_item" style="clear: both;">&nbsp;</div>

<div style="width: 360px; float: left;">
  <img src="{% static 'images/staff_photos/shiv.jpg' %}" width="100" height="100" style="float: left; margin-right: 20px; border: #808080 1px solid;">
  <div class="ta-name">Shiv Sundram</div>
  <div style="clear: both;">&nbsp;</div>
</div>

<div style="width: 360px; float: left;">
  <img src="{% static 'images/staff_photos/zhenbang.jpg' %}" width="100" height="100" style="float: left; margin-right: 20px; border: #808080 1px solid;">
  <div class="ta-name">Zhenbang You</div>
  <div style="clear: both;">&nbsp;</div>
</div>

<!--
<div style="width: 360px; float: left;">
  <img src="{% static 'images/staff_photos/tom.jpg' %}" width="100" height="100" style="float: left; margin-right: 20px; border: #808080 1px solid;">
  <div class="ta-name">Tom Shen</div>
  <div style="clear: both;">&nbsp;</div>
</div>
-->

<div class="overview_minor_item" style="clear: both;">&nbsp;</div>


</div> <!-- indented -->

<div class="overview_main_item overview_ruled_element">Office Hours Calendar</div>

<iframe src="https://calendar.google.com/calendar/embed?src=c_19cd6ee569d53da6cad048538d3b6c866e8037e985e8e4f110fba972b0690f80%40group.calendar.google.com&ctz=America%2FLos_Angeles" style="border: 0" width="800" height="600" frameborder="0" scrolling="no"></iframe>

<div class="overview_main_item overview_ruled_element">Prerequisites</div>

<p>
<span class="bold_text"><a href="https://cs111.stanford.edu/">CS111: Operating Systems Principles</a> is strong prerequisite for CS149.</span>  If you have not taken CS111 and feel like you have the background to take CS149 (for example, due to similar classes at another school or via previous employment), please contact your friendly instructors and let's talk it over. 
</p>

<p>Concepts we expect you to be familiar with:</p>
<ul>
  <li>The idea that a compiled computer program is a sequence of machine instructions.</li>
  <li>That a processor executes machine instructions, and the result of executing an instruction is the update of state stored in registers or memory.</li>
  <li>The motivation for a modern memory hierarchy and it's implementation via registers, on-chip caches, off-chip memory, persistent storage.</li>
  <li>You should be familiar with reading, writing, and debugging C/C++ code (basic C++ features like classes, STL vector types). Programming assignments in this class require debugging skill due to the challenges of debugging parallel code. The primary reason students struggle in CS149 is a lack of code debugging experience.</li>
  <li>You should have enough programming experience/proficiency in C-like languages to pick up new C-like languages introduced throughout the class (languages such as CUDA, or ISPC) 
  <li>We hope that you've had at least an introductory experience writing code that creates threads, e.g., via std::threads or pthreads in C/C++.</li>
</ul>

<div class="overview_main_item overview_ruled_element">Textbook</div>

<p><span class="bold_text">There is no required textbook for CS149.</span> However, you may find the following textbooks helpful.  However, in general these days there's plenty of great parallel programming resources available for free on the web.</p>

<p>
</p><div>John L. Hennessy and David A. Patterson</div>
<div>Computer Architecture, Sixth Edition: A Quantitative Approach. Morgan Kaufmann, 2017</div>
<div><a href="https://www.amazon.com/Computer-Architecture-Quantitative-Approach-Kaufmann/dp/0128119055" target="_blank">[ On Amazon ]</a></div>
<p></p>

<p>
</p><div>Jason Sanders</div>
<div>CUDA by Example: An Introduction to General-Purpose GPU Programming. 1st Edition. Addison-Wesley. 2010</div>
<div><a href="https://www.amazon.com/CUDA-Example-Introduction-General-Purpose-Programming/dp/0131387685" target="_blank">[ On Amazon ]</a></div>
<p></p>

<p>
</p><div>David Kirk and Wen-mei Hwu</div>
<div>Programming Massively Parallel Processors, Second Edition: A Hands-on Approach. 2nd Edition. Morgan Kauffmann. 2012</div>
<div><a href="https://www.amazon.com/Programming-Massively-Parallel-Processors-Second/dp/0124159923" target="_blank">[ On Amazon ]</a></div>
<p></p>


<div class="overview_main_item overview_ruled_element">Announcements via Ed Discussion</div>

<p>All class announcements will be made via our <a href="https://edstem.org/us/courses/47143/discussion/3416491">Ed Discussion</a> forum. Everyone enrolled in the course via Canvas should be able to access this site.</p>

<div class="overview_main_item overview_ruled_element">Assignments, Projects, and Exams (What You Will Do!)</div>

<p>
<span class="italic_text">Programming assignments.</span> Students
will complete four programming assignments using parallel programming
systems such as ISPC, OpenMP, and CUDA. You are not expected to know
these languages/systems in advance of the course, you will pick them
up as you go. Programming assignments can optionally be done in teams
of up to two, but all teams both one-person and two-person teams will be graded the same.
Each year there are students that decide to do all
programming assignments by themselves, so it is perfectly acceptable
to go through the class without a partner if you choose to do
so. There will also be one optional "bonus" programming assignment at
the end of the quarter that can be used to boost the grade of any
prior programming assignment.
</p>

<p><span class="italic_text">Written assignments.</span>  Students
will complete five take-home written assignments assigned
approximately every two weeks. Like programming assignments, written
assignments can optionally be done in teams of up to two. Written assignments are graded on effort, not correctness.</p>

<p><span class="italic_text">Midterm exam.</span> There will be a midterm
exam, held on <span class="bold_text">November 15th</span>. We hold the midterm in the evenings to reduce time pressure. All on-campus (non-SCPD) students will be expected to be present for the midterm unless special arrangements are made in advance with the staff. 
</p>

<p><span class="italic_text">Final exam.</span> There will be a final
exam during the university designated final exam slot, which is 3:30pm
on December 14th. In person (non SCPD) students are expected to be
present for the exam.</p>

<div class="overview_main_item overview_ruled_element">Grading</div>

<ul>
<li>Programming Assignments (4): 13% + 15% + 15% + 15% = <span class="colored_text">58%</span></li>
<li>Written Assignments (5): 1.6% x 5 = <span class="colored_text">8%</span></li>
<li>Midterm Exam: <span class="colored_text">16%</span></li>
<li>Final Exam:     <span class="colored_text">16%</span></li>
<li>Async Participation: <span class="colored_text">2%</span> (async lecture comments)</li>
</ul>

<p><span class="bold_text">Late day policy: Each student 
has a total of eight late days for use over the entire quarter.
Late days can be used either for programming assignments or written
assignments.</span> You do not need to notify the staff that you are
using late days. Just submit after the deadline and we will track late
days used.</p>

<ul>
<li>A student can extend an assignment deadline by one day using one
point. (A team of two students can extend an assignment deadline by
one day using one point from each student.)</li>

<li>If a student does not have remaining late day points, late
hand-ins will incur a 15% penalty per day (up to the max number of
  late days allowed). We'll record points on a per-student basis, so if one
student is ``out of points'' and the other is not, only the student
out of late days will be assessed the penalty.</li>

<li><span class="bold_text colored_text">Unless special arrangements
are made with the staff at least 72 hours in advance of the original
deadline, no programming assignments will be accepted more than FOUR
DAYS after their posted deadline. No written assignments will be
accepted more than ONE DAY after the deadline.</span> This is a hard
cap since we need to release solutions to written assignments.</li>
</ul>

<div class="overview_main_item overview_ruled_element">FAQ</div>

<p><span class="bold_text">Do I need a partner for CS149?</span></p>

<p>No, you do not. Each year a number of students decide to do all
the assignments on their own because they think it will help them
learn the material better.  CS149 assignments take a lot of thought,
but do not require writing a lot of code, and so it's reasonable for a
single student to do all the required work.  Note that all teams,
regardless of whether they are one or two person teams, are graded the
same.</p>

<p><span class="bold_text">I don't have a partner but definitely want
one, what should I do?</span></p>

<p>We understand that it can be hard to find partners in CS
  classes. We want everyone that wants to work with a partner to have
  the opportunity to do so. In the first week of class, the course
  staff will run a partner matching service that will ask students to
  fill out a survey and match students according to responses.</p>

<p>If you need to change partners or find a partner in the middle of the quarter, just reach out to the staff and we'll do our best to help you find someone. We are here to help!</p>

<p><span class="bold_text">Do I need to tell the staff that I am using late days on and assignment?</span></p>

<p>No, just submit your assignment. The submission will be time stamped and the staff will keep track of late days.</p>

<p><span class="bold_text">I got sick, had a busy week, had extra
curricular activities, etc.? Can I get an extension?</span></p>

<p>You are going to have periods throughout the quarter where you
cannot put much time in CS149. That's perfectly fine! Late days are
there to allow you to adjust your deadlines. Given that you have a generous number of
late days for the quarter, we expect you to manage those days
according to your needs. We intend to only give students additional
late days under exceptional circumstances (significant long-running illnesses, important family concerns, etc.) or in accordange with OAE designations.  If you believe exceptional circumstances may be in play, we want to help! <span class="bold_text colored_text">But please make the staff aware of your situation at least 72 hours prior to the impacted deadline.</span></p>

<p><span class="bold_text">Office hours are busy and I'm having trouble getting the help I need. What can I do?</span></p>

<p>Office hours aren't the only time you can get help from the staff.
Just reach out by posting on Ed or writing an email to the staff
asking for an appointment for a 1-on-1 conversation. We'll make time
  to help!</p>

<p><span class="bold_text">Will lectures be recorded?</span></p>

<p>Yes, lectures are recorded by SCPD and available for offline
viewing on Canvas. We try to make lectures participatory and have
in-class discussions, so we hope that you will make an effort to
attend lecture as much as possible and use the recorded lectures as
review and reference.</p>

<p><span class="bold_text">Can I audit the class?</span></p>

<p>Please email one of the CAs and we will be happy to add you to Canvas as an observer.</p>

</div>
{% endblock %}
