<!doctype html>
<html>
<head>

{% load static %}

<!--<link rel="icon" href="<?=base_url()?>assets/images/favicon/dragon.png" type="image/png"> -->
<?php
   $page_title = $page_name;
   if (strlen($page_name) == 0)
       $page_title = $course_name;
   else
       $page_title = $page_name . ' : ' . $course_name; 
?>
<title>{{page_title}}</title>

<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=League+Gothic&family=Open+Sans:ital,wght@0,400;0,700;1,400&display=swap" rel="stylesheet">

<script type="text/javascript"
  src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.1/MathJax.js?config=TeX-AMS-MML_HTMLorMML">
</script>

<script type="text/x-mathjax-config">
MathJax.Hub.Config({
  skipStartupTypeset: true,
  showProcessingMessages: false,
  tex2jax: {
    inlineMath: [['$','$'], ['\\(','\\)']],
    processEscapes: true
  }
});
</script>

<!-- NOTE(kayvonf): place at end to override 3rd party tools -->
<link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">

</head>
<body>

<div id="modal_overlay"></div>

<div class="main_container">

<div class="topbar">
<div class="topbar_left"><a href="{% url 'index' %}">[Home]</a></div>
<div class="topbar_left"><a href="{% url 'courseinfo' %}">[Course Info]</a></div>
<div class="topbar_left"><a href="https://github.com/stanford-cs348k/readings">[Readings]</a></div>

{% if user.is_authenticated and user.is_staff %}
<div class="topbar_left"><a href="{% url 'admin:index' %}">[Admin Console]</a></div>
{% endif %}


<div class="topbar_right">

{% if user.is_authenticated %}

  Welcome, <a href="{% url 'students:edit' %}">{{user.username}}</a>
  {% if user.student %}
  &nbsp <img class='topbar_profile_picture' src="{{user.student.photo.url}}" align='top'>
  {% endif %}
<a href="{% url 'students:logout' %}">[Logout]</a>
{% else %}
<a href="{% url 'students:login' %}">[Login]</a>
{% endif %}

</div>

</div>

<div class="content_container">

<!-- end of header -->
