{% extends 'base.html' %}

{% load static %}

{% block content %}
<div class="home_container">

<div style="font-size: 12pt; padding: 10px 0px 0px 0px;" class="home_title">Stanford CS348B, Spring 2022</div>
<div style="padding-top: 0px; padding-bottom: 5px;" class="home_title">IMAGE SYNTHESIS TECHNIQUES</div>

<div>
<img style="padding-bottom: 5px;" src="{% static 'images/teaser_348b.png' %}" width="800" height="204"></a>
</div>

<p style="padding-bottom: .15em">
High-quality rendering is ubiquitous today, with applications ranging
from entertainment to product design and architecture. The goal of this
course is to provide a deep understanding of the fundamental mathematical
and physical principles that are the basis of modern physically based
rendering while also introducing the design principles and engineering
trade-offs involved in designing and implementing high-performance rendering systems.
</p>

<div class="overview_main_item overview_ruled_element">Basic Info</div>

<div style="padding-bottom: 15px;">
<div>Tues/Thurs 3:15-4:45pm</div>
<div>Location: 380-380F</div>
<div>Instructors: <a href="http://graphics.stanford.edu/~kayvonf">Kayvon Fatahalian</a>, <a href="https://graphics.stanford.edu/~djames/">Doug James</a>, and <a href="https://pharr.org/matt/">Matt Pharr</a></div>

<div style="padding-top:1em;">See the <a href="{% url 'courseinfo' %}">course info</a> page for more info on policies and logistics.</div>

</div>

<div class="overview_main_item overview_ruled_element">Spring 2022 Schedule</div>

<table>

{% for lecture in lectures %}

<tr>

<td class="schedule_date">
     {{lecture.date|date:"M d"}}
</td>

<td class="schedule_lecture">
     <div>
        <td class="schedule_lecture">
          <div>
            {% if lecture.published %}
            <a href="{% url 'lectures:lecture' lecture.short_name %}">
              <span class="bold_text">{{lecture.title}}</span>
            </a>
            {% else %}
            <span class="bold_text">{{lecture.title}}</span>
            {% endif %}
          </div>
          <div class="small_text colored_text"> {{lecture.subtitle}} </div>
        </td>
     </div>
</td>

</tr>

{% endfor %}

</table>

<div class="overview_main_item overview_ruled_element">Assignments</div>

<table>
<tbody><tr>
<td class="schedule_date">Apr 12</td><td class="schedule_lecture">
<a href="https://github.com/stanford-cs348b/pbrt-setup">HW 1: PBRT Lighting Design</a>
</td>
</tr>
</tbody></table>


<div>&nbsp;</div>
<div>&nbsp;</div>

</div>  <!-- end of home_container -->
{% endblock %}
